.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.search {
  display: flex;
  align-items: center;
  color: white;
}

.search > input {
  border: none;
  outline-width: 0;
  background-color: transparent;
  color: white;
  font-size: medium;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
}

.grey {
  color: #9ca8b4;
}
