* {
  margin: 0;
  padding: 0;
}
.app_row {
  display: flex;
}

:root {
  --grey: #888888;
  --green: #1eb954;
  --lightgrey: #ededed;
  --darktheme-sidebar: #12192c;
  --darktheme-purple: #cb3b48;
  --darktheme--main: #171e31;
}
