.playlistTap {
  margin: 0.2rem 0rem;
  background-color: #d9dbe327;
}
.MuiListItem-root {
  height: 5vh;
}
.MuiListItemText-primary {
  color: #bbbcc3;
}
.playlist .MuiListItemText-secondary {
  color: #bbbcc3;
}

.MuiAvatar-root {
  margin-right: 30px;
}
.MuiSvgIcon-root {
  color: #bbbcc3;
}

