.sidebar {
  display: flex;
  flex-direction: column;
  flex: 20%;
  background-color: var(--lightgrey);
  height: 100vh;
}

.sidebar__header {
  padding: 30px;
  color: var(--green);
  font-weight: 800;
  font-size: x-large;
}
.sidebar__block1 {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5vh;
}

.sidebar__block {
  margin-top: 5vh;
  height: 17%;
  display: flex;
  flex-direction: column;
}

h5 {
  padding-left: 30px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  color: var(--grey);
}

@media screen and (max-width: 974px) {
  .sidebar {
    flex: 30%;
  }
}

.darkTheme {
  background-color: var(--darktheme-sidebar);
  color: white;
}

.darkTheme h5 {
  color: var(--darktheme-purple);
}
/* @media screen and (max-width: 1024px) {
  .sidebar {
    flex: 30%;
  }
} */
